.promocoes .promocao {
    background: #3A3A3A !important;
}

nav, footer {
    background: #3A3A3A !important;
}

div.header {
    background: #3A3A3A !important;
    border-bottom: 1px solid #5a5a5a !important;
}

.top-bar .header .wrapper-header .share {
    border-right: 1px solid #5a5a5a;
    border-left: 1px solid #5a5a5a;
}

.top-bar .menu {
    border-bottom: 0px !important;
}

.promotions article, .promotions .load-more {
    background: #3a3a3a;
}

.load-more button {
    background: #3a3a3a;
}

.promotions article .options .option-other, .promotions article .image {
    color: #eaeaea;
}

.promotions article .description h3 a {
    color: #eaeaea;
}

.input-group, .tribute-textarea {
    background: #5a5a5a;
}
.form-control, .form-control:focus {
    background: #5a5a5a;
}

.search-bar {
    border: 1px solid rgb(90, 90, 90);
    background: rgb(90, 90, 90);
}

.promocoes h2.blackfriday-aovivo {
    background: #3A3A3A !important;
}

.content {
    background: rgb(58 58 58) !important;
}

.promocoes .informacoes .opcoes a {
    color: #FF5E99 !important;
}

.promotions article .options a, .promotions article .options a, .comments .comment .comment-footer a {
    color: #FF5E99 !important;
}

.form-search input[type=text] {
    background: rgb(90, 90, 90) !important;
}

.carregar-mais {
    background: #3A3A3A !important;
}

.promocoes.avaliacao-detalhe .detalhe .tags {
    background: #3A3A3A !important;
}

.promocoes .comentarios, .fancybox-inner .comentarios, .usuario-detalhe .comentarios {
    background: #3A3A3A !important;
}

.promocoes.avaliacao-detalhe .detalhe .fotos, .promocoes.avaliacao-detalhe .detalhe .avaliacao {
    background: #3A3A3A !important;
}

.top-bar .header .wrapper-header .share a.link-icon {
    background-image: url(chrome-extension://biikdmnllamcecdchhjgiiaakjnmaoma/images/icone_adicionar.png);
}

.top-bar .header .wrapper-header .login a.link-icon {
    background: url(chrome-extension://biikdmnllamcecdchhjgiiaakjnmaoma/images/icone_login_dark.png) no-repeat center center !important;
}

.form-search {
    border: 1px solid rgb(116, 116, 116) !important;
}

footer a {
    color: #FF5E99 !important;
}

body, select, input, textarea {
    color: #ff0000 !important;
}

nav ul li a {
    color: #eaeaea !important;
}

.promocoes h2.blackfriday-aovivo a {
    color: #eaeaea !important;
}

.promocoes .informacoes h3 a {
    color: #eaeaea !important;
}

.promocoes .informacoes .data_postado {
    color: #eaeaea !important;
}

.promocoes .informacoes .opcoes a.link_loja, .promocoes .informacoes .opcoes a.curtidas, .promocoes .informacoes .opcoes a.mais, .promocoes .informacoes .opcoes a.mais:hover, .fancybox-inner .comentarios ul li a.curtidas, .promocoes .comentarios ul li a.curtidas {
    border: 1px solid rgb(116, 116, 116) !important;
}

.promocoes .lista-avaliacoes .promocao .usuario .nome_usuario a, .usuario-detalhe .avaliacoes .promocao .usuario .nome_usuario a {
    color: #eaeaea !important;
}

.promocoes .lista-avaliacoes .promocao p.tags a, .promocoes.avaliacao-detalhe .detalhe .tags a, .usuario-detalhe .avaliacoes .promocao p.tags a {
    color: #FF5E99 !important;
}

.promocoes .promocao .usuario {
    color: #c7c7c7 !important;
}

header .compartilhar {
    border-left: 1px solid rgb(90, 90, 90) !important;
    border-right: 1px solid rgb(90, 90, 90) !important;
}

.promocoes .lista-avaliacoes .promocao .link-comentarios, .promocoes .lista-avaliacoes .promocao .numero-comentarios, .usuario-detalhe .avaliacoes .promocao .link-comentarios, .usuario-detalhe .avaliacoes .promocao .numero-comentarios {
    color: #FF5E99 !important;
}

.promocoes .comentarios ul li .usuario_link a, .fancybox-inner .comentarios ul li .usuario_link a, .usuario-detalhe .comentarios ul li .comentario-detalhe a  {
    color: #eaeaea !important;
}

.promocoes .informacoes .opcoes a.comentar, .promocoes.avaliacao-detalhe .detalhe h3 a, .promocoes.promocao-detalhes h3 a.comentar {
    background: #FF5E99 !important;
}

.promocoes .comentarios ul li, .fancybox-inner .comentarios ul li, .usuario-detalhe .comentarios ul li .comentario-detalhe {
    border-color: rgb(90, 90, 90) !important;
}

.promocoes .comentarios ul ul, .fancybox-inner .comentarios ul ul {
    border-left: 3px solid rgb(90, 90, 90) !important;
}

.promocoes .comentarios ul li a, .fancybox-inner .comentarios ul li a, .fancybox-inner .comentarios ul li a.editar-comentario {
    color: #FF5E99 !important;
}

.promocoes .comentarios ul li a, .fancybox-inner .comentarios ul li a, .fancybox-inner .comentarios ul li a.editar-comentario {
    color: #FF5E99 !important;
}

.fancybox-skin {
    background: #3A3A3A !important;
    color: #eaeaea !important;
}

.promocoes .comentarios .form-resposta input[type=submit], .fancybox-inner .comentarios .form-resposta input[type=submit], .fancybox-inner .comentarios .box-editar-comentario input[type=submit], .comentarios .box-editar-comentario input[type=submit] {
    background: #FF5E99 !important;
}

.promocoes .comentarios .form-resposta textarea, .fancybox-inner .comentarios .form-resposta textarea, .fancybox-inner .comentarios .box-editar-comentario textarea, .comentarios .box-editar-comentario textarea {
    border: 1px solid rgb(90, 90, 90) !important;
}

.promotions article .options .option-store a, .comments .comment .comment-footer a.like {
    border: 1px solid rgb(90, 90, 90) !important;
}

textarea {
    background-color: rgb(90, 90, 90) !important;
}

.form-search input[type=submit] {
    background: #3A3A3A url(../img/lupa.png) no-repeat center center !important;
}

.carregar-mais-blackfriday {
    color: #FF5E99 !important;
}

#box-entrar h2, .box-generico h2, .box-generico h3, .page-generica h2, .page-generica h3 {
    color: #eaeaea !important;
}

.obs {
    color: #c7c7c7 !important;
}

.input input[type=text], .input input[type=email], .input input[type=password], .input textarea, div.tagsinput {
    background: rgb(90, 90, 90) !important;
}

.promocoes.blackfriday .comentarios ul li.form-resposta {
    background: #3A3A3A !important;
}

a.mais.hidden-xs img {
    opacity: 0;
}

.promocoes .informacoes .opcoes a.mais {
    background-image: url(chrome-extension://biikdmnllamcecdchhjgiiaakjnmaoma/images/three-dots-pink.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 9px;
}

.usuario-detalhe .comentarios ul li .comentario-detalhe {
    background: #3A3A3A !important;
}

body {
    background-color: #242424;
}

#lightcase-content, .fancybox__content {
    background-color: #242424 !important;
}

body, select, input, textarea {
    color: #ffffff !important;
}

#lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #eaeaea;
}

.page .no-data, .comments .comment, .comments.comments-user .comment .comment-wrapper {
    background-color: #3a3a3a !important;
    border-color: #5a5a5a !important;
}

.comments .comment .comment-header a, .comment-content {
    color: #eaeaea;
}

.btn-blue, .swal2-confirm {
    background: #FF5E99 !important;
    border-color: #5a5a5a;
}

.swal2-cancel {
    background: #5a5a5a !important;
    color: #FF5E99 !important;
}

.comment-control a {
    color: #FF5E99 !important;
}

.swal2-popup { 
    background-color: #242424;
}

.swal2-content, .swal2-header, .swal2-title {
    color: #eaeaea;
}

.comments .comment .comment-answers {
    border-left: 3px solid #5a5a5a;
}

.comments .comment .comment-header .comment-time b i {
    background: #FF5E99;
}

.comments .comment .comment-header .comment-time b {
    background: #5d444d;
}

a:hover, p a {
    color: #FF5E99;
}

.ratings article .content .user .info a {
    color: #eaeaea;
}

.ratings article .content .user .info .date {
    color: #eaeaea;
}

.page h1, .page h2, .page h3 {
    color: #c8c4c4;
}

.page .bootstrap-tagsinput, .page input[type=text], .page input[type=email], .page input[type=password], .page textarea, .page input[type=file], .tribute-textarea {
    background: #5a5a5a;
}

::selection {
    background: #5d444d;
}